body{
    background: #000000;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: #C07F7F;
    color: white;
    padding: 20px;
    text-align: center;
}

main{
    max-width: 900px;
    margin: auto;
}

section{
    background: #171212;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2{
    border-bottom: 2px solid white;
}

.project-card{
    background: #2c1f1f;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

a{
    display: inline-block;
    margin-top: 15px;
    color: white;
    background: #c07f7f;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

a:hover{
    background: #804848;
    transform: scale(1.05);
}

footer{
    background: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    body{
        font-size: 16px;
    }

    header{
        padding: 10px;
    }
}